doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title run-snippets
    link(rel="stylesheet" href="./vendor.css")
    link(rel="stylesheet" href="./app.css")
    script(src="./vendor.js")
  body
    div(id="app")
    script(src="./app.js")
